[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi = {version = "==0.89.1", extras = ["all"]}
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
